@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}


#main {
    width: 1440px;
    margin: 0 auto;
}

nav {
    padding: 10px 50px;
}


.nav_items {
    padding: 15px 0px;
    display: flex;
    list-style-type: none;
}

.nav_item {
    margin: 0px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 58px;
}

.nav_item_link {
    text-decoration: none;
    color: #000;
    background-color: white;
} 



.bi-circle-fill{
    font-size: 10px;
    color: rgb(12, 241, 12);
}

.backDark{
    left: 65px;
}

.textDigital{
    color: #F5F5F5;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 5;
    left: 110px;
    top: 12px;
    cursor: pointer;
}

.textMarketing{
    color: #F5F5F5;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 5;
    left: 250px;
    top: 12px;
    cursor: pointer;
}

.logoEllips{
    left: 180px;
    top: -4px;
}

.logoSwg {
    left: 190px;
    top: 12px;
}

.call_lang {
    padding-top: 12px;
}

.greenEllipse {
    left: 3px;
}

.call_lang .bi-telephone {
    left: 10px;
    top: -5px;
}

.call_lang .tel_icon {
    top: -2px;
    left: 19px;
}

.call_lang .call {
    top: -1px;
    left: 37px;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(-21.831deg);
    cursor: pointer;
}

.spanLange {
    left: 69px;
    cursor: pointer;
}

.redEllipse{
    left: 32px;
}

.spanLange .bi-globe-americas {
    top: 4px;
    left: 40px;
}

.digitalMarketing_p {
    cursor: pointer;
}

.spanLange .lang {
    left: 10px;
    top: 10px;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(-26.612deg);
}


main {
    height: 944px;
}

.info_triangle {
    top: 155px;
    left: 40px;
    width: 160px;
    height: 170px;
    flex-shrink: 0;
}

.danger_round{
    top: 38px;
    left: 346px;
    width: 118px;
    height: 118px;
    flex-shrink: 0;
}

.green_hundred{
    top: 621px;
    left: 137px;
    width: 150px;
    height: 140px;
}

.danger_round_1 {
    width: 124px;
    height: 124px;
    top: 232px;
    right: 140px;
}

.ink_triangle {
    width: 160px;
    height: 170px;
    top: 539px;
    right: 97.49px;
}


.info_round{
    top: 748px;
    right: 338px;
    width: 124px;
    height: 124px;
}

.arrow_1 {
    top: -55px;
    right: 205px;   
}

.reference_section {
    width: 205px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 10px 10px 10px 0px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 350px;
    top: 55px;
}


.reference_section p {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.reference_logo {
    width: 15px;
    height: 11.188px;
    margin: 5px;
    margin-left: 15px;
}


.reference_round{
    position: absolute;
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    right: -7px;
    top: -8px;
}

header .round_one  {
    width: 688px;
    height: 688px;
    flex-shrink: 0;
    border-radius: 688px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 39.06%, rgba(217, 217, 217, 0.35) 74.48%, rgba(15, 15, 15, 0.21) 100%);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 93px;
    left: 376px;
    z-index: 3;
}


.round_one .round_two {
    width: 462px;
    height: 462px;
    flex-shrink: 0;
    border-radius: 462px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.99) 100%);
    box-shadow: 0px 0px 28px 14px #D9D9D9 inset;
    position: absolute;
    top: 113px;
    left: 113px;
}

header .main_shade {
    width: 480px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 480px;
    background: rgba(0, 0, 0, 0.10);
    filter: blur(10.5px);
    position: absolute;
    top: 808px;
    left: 480px;
}

.round_two img {
    width: 100px;
    height: 74.586px;
    flex-shrink: 0;
    position: absolute;
    top: 101px;
    left: 181px;
}

.round_two p {
    color: #000;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 187px;
}


.services{
    background: rgba(30, 28, 29, 0.90);
    background-image: url("./img/STARS.svg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 691px;
    padding-top: 47px;
}
.global_row {
    padding-top: 10px;
    justify-content: space-evenly;
}

.description_section{
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-left: 70px;
}

.servise_p {
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-left: 70px;
}


.services .col-6 .articel_col {
    width: 258px;
    height: 30px;
    border-radius: 5px;
    background: #0F0F0F;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 5px 0px;
    margin: 0;
}

.services .col-6 .description_col {
    color: #D9D9D9;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 258px;
    margin-top: 15px;
    margin-bottom: 0;
}

.services .col-6  .col_p {
    width: 251px;
    color: #D9D9D9;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3px;
}

.detailed_btn {
    width: 258px;
    height: 30px;
    border-radius: 5px;
    background: #961616;
    text-align: center;
    padding: 5px 0;
    border: none;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.btn_three {
    margin-top: 16px;
}

.services_img {
    top: 83px;
}
.services_paragraf {
    color: #FFF; 
    font-family: 'Nunito', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    right: 320px;
    top: 125px;
}

.services_section_paragraf {
    margin-top: 43px;
    width: 396px;
    color: #C3C3C3;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.numbers_portfolio{
    margin-top: 10px;
    padding: 56px 0;
}

.span_decript {
    color: #0F0F0F;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 108px;
    margin-top: 10px;
}

.number_p{
    color: #0F0F0F;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 173px;
}


.col_number{
    width: 89px;
    color: #0F0F0F;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px; 
}


.col_paragraf {
    color: #0F0F0F;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 189px;
}

.col_paragraf_1{
    width: 195px;
    color: #0F0F0F;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.col_number_img {
    width: 29.231px;
    height: 40px;
    margin-top: 12px;
}


.number_class_four{
    width: 109px;
    color: #0F0F0F;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.number_img_four{
    margin-left: 12px;
}

.nubmer_decriptio_four{
    width: 168px;
    color: #0F0F0F;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

.portfolio_section {
    height: 700px;
    background-color: rgba(0, 0, 0, 0.90);;
}

.portifolio_description_section{
    padding-top: 57px;
}


.lorem_articel{
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.lorem_description{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 240px;
    margin-top: 10px;
}

.partner_articel{
    background: rgba(53, 51, 52, 1);
    background-image: url("./img/stars\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 133px;
}

.partner_description{
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding: 40px;
}

.partner_form_section {
    width: 1440px;
    height: 483px;
    background: rgba(0, 0, 0, 0.90);;
}
.patner_pragraf {
    margin-top: 96px;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.user_question{
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 0;
}

.user_respons{
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.callBtn {
    position: absolute;
    top: 205px;
    right: 10px;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 16px;
    border-radius: 3px;
    background: #E0144C;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #FFF;
}
form label {
    margin-top: 25px;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

form .col-3 input {
    color: rgba(0, 0, 0, 0.20);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 19px;
    gap: 10px;
}

.inputName::placeholder {
    color: black;
}

.sumbitBtn{
    position: absolute;
    top: 126px;
    right: 10px;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 16px;
    border-radius: 3px;
    background: #E0144C;
    border: none;
}

.main_logo_footer{
    margin-top: 0;
    margin-bottom: 53px;
}

.main_footer{
    margin-top: 44px;
    margin-bottom: 48px;
}

.office_location{
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.office_city {
    margin-top: 5px;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 269px;
    margin-bottom: 0;
}


.office_tel{
    margin-top: 20px;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.office_tel_number{
    margin-top: 0px;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_nav_item{
    list-style-type: none;
    margin: 0;
    padding: 0;

}


.footer_nav_item .fotter_nav_items_link{
    margin-top: 8px;
    text-decoration: none;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

.footer_low {
    height: 83px;
    background: rgba(0, 0, 0, 0.07);
}

.footer_low .col-4, .footer_low .col-2 {
    padding: 30px 0;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.popup .img_tick {
    display: flex;
    justify-content: center;
}

.popup img {
    width: 130px;
    margin-top: -3rem;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}
.popup {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    z-index: 11;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup .ok_btn {
    background-color: rgb(12, 241, 12);
    outline: none;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.open-pup {
    position: fixed;
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}